#board {
  width: 600px;
  height: 600px;
  border: 10px solid grey;
  /*display: inline-block;*/
  margin: 0 auto;
}

.square {
  width: 142px;
  height: 142px;
  border: 4px solid black;
  float: left;
  text-align: center;
  padding: 25px;
  font-size: 120px;
}
